.adminContainer{
    background-color: rgb(53, 53, 54) !important;
    padding: 1rem;
}

.dashboard-logo {
    width: 1110px;
    height: 578px;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  